#gameboard
{
	border: 1px solid black;
}

td 
{
	height: 150;
	width: 150;
	text-align: center;
	border: 1px solid black;
	font-size: 50px;
	background-color: #EEEEEE;
}

#jumbotron
{
	background-color: #87CEEB;
	color: #fffffF;
}

#game
{
	position: absolute;
	margin: auto;
	top: 200px;
	bottom: 0;
	right: 0;
	left: 0;
	width: 450px;
	height: 450px;
}

#winnerdiv
{

}

#newgamebutton
{

}
